
.container-fluid {
    padding: 0 8%;
}


.navbar {
    width: 100%;
    margin: 0;
    background: #2a2a2b;
    font-weight: 700;
    color: #fcf9fb;
    border: 0;
    border-radius: 0;
    height: 60px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F16C65;
}

a.active {
    color: #F16C65;
}

#home {
    color: #F16C65;
}


#brandstar {
    color: #e8639f;
    font-size: 3rem;
}

#myCarousel {
    background: #F16C65;
    padding: 100px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

h1 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px
}

.row {
    margin: 15px 0;
}

.glyphsymbol {
    margin: 15px 10px 28px 0px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    float: left;
}

.fa-lightbulb {
    padding: 10px 17px
}

.services {
    color: #4c5563; 
    background-color: #e3e5e8;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 5px;
}
h4 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    font-size: 1.4rem;
}


#svcp {
    margin-left: 0;
}

.portfolio {
    background-color: #2b333f;
    color: #576272;
    padding-bottom: 200px;
    padding-top: 30px;
    
}

button {
    background-color: #2b333f;
    border: 1px solid #576272;
    border-radius: 5px;
}

.active-btn {
    border: 1px solid white;
}

.social-btn {
  display: inline-block;
  border-radius: 60px;
  border: 1px solid #000;
  padding: 0.5em 0.6em;
  margin-right: 5%;
}


.face {
    padding: 7px 11px;
}

.google {
    padding: 8px 6px;
}

.twitter {
    padding: 8px;
}

.linked {
    padding: 9px;
}

.about-us {
    background-color: #e3e5e8;
    color: #4c5563;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

.get-a-quote {
    background-color: #F16C65;
    padding-bottom: 40px;
    padding-top: 30px;
    
}

.form-control {
    background: #bf7169;
    color: #fff;
    border: none;
}

@media(max-width: 700px) {
    
}

.form-group {
    margin: 0;
}

.btn-default {
    background-color: #bf7169;
    color: #F16C65;
    margin-top: 15px;
    border: 0;
}

.upper, .side-text {
    color: #efeded;
}

footer {
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #2a2a2b;
    color: #d1cfcf;
    left: 0;
    right: 0;
    display: grid;
    grid-template-areas: "left right";
    align-items: center;
}

.footer-right {
    grid-area: right;
    margin-top: 10px;
    padding-right: 0;
    text-align: right
}

.footer-left {
    grid-area: left;
    padding-right: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 2.5rem;
    margin-top:5px;
}

.navbar-right {
    display: flex;
    padding-top: 8px;
}


.svchead {
    font-weight: 700;
}


.form {
    padding-left: 0;
}

.form-control::placeholder {
    color: #F16C65;
}

@media(max-width: 780px) {
    .side-text {
        padding-left: 0;
    }
    .footer-right {
        display: none;
    }
    .footer-left {
     padding: 0 20% 0 25%;  
    }
}








